img{
    width: 100%;
}
.principal{
    text-align: center;
}
.album{
    width: 100%;
}
.foto{
    width: 95%;
    margin: 2%;
}
.opcionesPlaylist{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1%;
}
.opcionesPlaylist li a{
    text-decoration: none;
    background-color:rgb(116, 192, 243);
    color:rgb(252, 232, 232);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.opcionesPlaylist li a:hover{
    text-decoration: underline;
    background-color: rgb(255, 187, 0);
    color: darkblue;
}
.informacionAlbum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
.informacionAlbum h1{
    color: blanchedalmond;
    font-size: 65px;
    font-family: 'Bebas Neue', cursive;
}
.informacionAlbum h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.informacionAlbum h2 a{
    color: white;
    text-decoration: none;
}
.informacionAlbum h2 a:hover{
    text-decoration: underline;
    color: rgb(255, 187, 0);
}
.informacionAlbum h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.informacionAlbum h3 a{
    color: white;
    text-decoration: rgb(255, 187, 0);
}
.informacionAlbum h3 a:hover{
    text-decoration: underline;
    color: rgb(255, 187, 0);
}
.informacionAlbum p{
    font-family: 'Lato', sans-serif;
    color: white;
}
.canciones li{
    list-style: none;
}
.canciones li a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
}
.canciones li a:hover{
    text-decoration: underline;
    color: rgb(255, 187, 0);
}
.recomAlbum{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}
.recomAlbum1{
    margin: 5%;
}

@media(min-width: 1024px){
    .principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .opcionesPlaylist{
        flex-direction: row;
    }
    .opcionesPlaylist li a{
        padding: 10px 40px;
    }
    .album{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 45%;
    }
    .foto{
        width: 100%;
    }
    .informacionAlbum{
        width: 50%;
    }
    .informacionAlbum h1{
        font-size: 120px;
    }
    .informacionAlbum h2{
        font-size: 45px;
    }
    .informacionAlbum h3{
        font-size: 30px;
    }
    .informacionAlbum p{
        font-size: 22px;
    }
    .canciones li{
        font-size: 22px;
    }
    .recomAlbum{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2%;
    }
    .recomAlbum h3{
        width: 100%;
        margin-top: 2%;
    }
    .recomAlbum1{
        width: 25%;
        margin: 3%;
    }
    .recomAlbum1:hover{
        background-color: rgb(134, 84, 84);
    }
}