img{
    width: 100%;
}
.principal{
    text-align: center;
}
.album{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.foto{
    width: 95%;
    margin: 2%;
}
.opcionesPlaylist{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2%;
}
.opcionesPlaylist li a{
    text-decoration: none;
    background-color:rgb(5, 235, 5);
    color:rgb(252, 232, 232);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.opcionesPlaylist li a:hover{
    text-decoration: underline;
    background-color: rgb(238, 234, 4);
    color: darkblue;
}
.informacionAlbum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1% 2%;
}
.informacionAlbum h1{
    color: blanchedalmond;
    font-size: 65px;
}
.informacionAlbum h2{
    font-size: 25px;
}
.informacionAlbum a h2{
    text-decoration: none;
}
.informacionAlbum a h2:hover{
    text-decoration: underline;
    color: rgb(255, 187, 0);
}
.informacionAlbum h3{
    font-size: 15px;
}
.informacionAlbum a h3:hover{
    text-decoration: underline;
    color: rgb(255, 187, 0);
}
.canciones li{
    list-style: none;
}
.canciones li a:hover{
    text-decoration: underline;
    color: rgb(255, 187, 0);
}
.recomAlbum{;
    margin: 5%;
    border-radius: 3px;
    background-color: rgb(121, 83, 83);
    display: flex;
    flex-direction:column;
    align-items: center;
}
.recomAlbum1{
    margin: 2%;
    width: 90%;
}

@media(min-width: 1024px){
    .albumInf{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .opcionesPlaylist{
        flex-direction: row;
    }
    .opcionesPlaylist li a{
        padding: 10px 40px;
    }
    .album{
        width: 43%;
        margin: 1%;
    }
    .album img{
        width: 100%;
    }
    .informacionAlbum{
        width: 45%;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .informacionAlbum h1{
        font-size: 120px;
    }
    .informacionAlbum h2{
        font-size: 45px;
    }
    .informacionAlbum h3{
        font-size: 30px;
    }
    .informacionAlbum p{
        font-size: 22px;
    }
    .canciones li{
        font-size: 22px;
    }
    .recomAlbum{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 2%;
    }
    .recomAlbum h3{
        width: 100%;
        margin-top: 2%;
    }
    .recomAlbum1{
        width: 25%;
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recomAlbum1:hover{
        background-color: rgb(173, 104, 104);
    }
}