*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.container{
    width: 100%;
    background-color: rgb(236, 235, 235);
}
.encabezado{
    background-color: 250 147 112;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.album{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.foto{
    width: 50%;
}
.opcionesPlaylist{
    list-style: none;
}
.opcionesPlaylist li a{
    text-decoration: none;
    background-color:rgb(243, 143, 126);
    color:rgb(252, 232, 232);
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opcionesPlaylist li a:hover{
    text-decoration: underline;
    background-color: rgb(255, 187, 0);
    color: darkblue;
}
h1{
    font-size: 65px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
h2 a{
    color: black;
    text-decoration: none;
}
h2 a :hover{
    text-decoration: underline;
    color: darkblue;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
h3 a{
    color: black;
    text-decoration: none;
}
h3 a :hover{
    text-decoration: underline;
    color: darkblue;
}
.informacionAlbum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.informacionAlbum p{
    font-family: 'Lato', sans-serif;
}
.canciones li{
    list-style: none;
}
.canciones li a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
}
.canciones li a :hover{
    text-decoration: underline;
    color: darkblue;
}

@media(min-width: 1024px){
    .principal{
        flex-direction: row;
    }
    .album{
        flex-direction: column;
        width: 50%;
    }
    .foto{
        width: 100%;
    }
    .informacionAlbum{
        width: 50%;
    }
    h1{
        font-size: 120px;
    }
    h2{
        font-size: 45px;
    }
    h3{
        font-size: 30px;
    }
    .informacionAlbum p{
        font-size: 22px;
    }
    .canciones li{
        font-size: 22px;
    }
}
