
.padre{
    background-image: url(../img/fondo\ negro.jfif);
    background-size: cover;        
}
   
.section{
        
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 700px; 
        padding:2%;
    }
    .imagendeartista{
       width: 70%;
    }
    .detallesdeartista{
        width: 40%;
    }
    .foto{
        background-repeat: no-repeat;
        background-size: cover; 
        width: 600px;
        height: 400px; 
        padding:2%;
        
    }
     
 .section2{
       display: flex;
       flex-direction: column; 
       width: 100%; 
       height: 600px;
      justify-content: center;
     
  }
        
 .fila1{
         display: flex;
         width:100%;
         background-color: rgba(255, 255, 255, 0.274); 

 }
  .fila2{
        display: flex;
        flex-direction: row;
       
    }

.fila3{
        display: flex;
       
   }
 .fila4{ 
        display: flex;
        width: 50%;
        justify-content: space-between;
     } 
    
 .nombre{
        margin: 20px;
        font-size: 100px; 
        
    }
.article1{
        background-color: rgba(255, 255, 255, 0.274);
        width:180px;
        height: 50px; 
        border-radius: 10px;
        margin: 3% 0; 
        display: flex;
        justify-content: center;  
        align-items: center; 
    }
 .article2{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        margin: 20px; 
        
    }
  
  .article3{ display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
        
    .article4{
       margin: 20px; 
       background-color: ;     
    }
   .article5{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin: 2%;
 }
    
    
 .albumH{
       width: 30%;
       height: 40%;
       margin: 2% 0;
       
       
    }
    
    .imagendeharry{
        width: 80px; 
        margin: auto; 
    }

    .article7{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%; 
        margin: 10px;
           

    }
   h6{ color: rgba(255, 255, 255, 0.747);
       margin: 5px 0px;
   }
   h3{
       font-size: 30px;
       color: white;
   }
   h4{
       margin: 5px 0px;
       color: white;
   }
   h5{  color: rgba(255, 255, 255, 0.747);
       margin: 5px 0px;

   }
   .F:hover{
          text-decoration: underline ;
          color: yellow;
   }
 
.biografia{
    display: flex;
    margin: 2%;
    height: 500px;
}

.bio1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    
}
.tituloss{
    text-align: center;
    background-color: rgb(46, 46, 46);
}
.primera{
    background-color: rgba(255, 255, 255, 0.747);
    height: 60%;
}
 
.harry2{
    margin: 2%;
}
.segunda{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.747);

}
.redessociales li a{
font-size: 40px;
}


.bio2{
    margin: 0;
    width: 60%; 
   }

.segundafila{
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  padding-bottom: 5%;
    
}
.imagencancion{
    width: 45%;
    height: 70%;
    text-align: center;
}


.topcinco{
    margin: 4%;
    width: 30%;
    height: 50%;
    text-align: center;
    margin: 2% 0;

}
.topcinco:hover{
    background-color: rgba(255, 255, 255, 0.747);
}



.footer{
    background-color: black;
    text-align: center;
    width: 100%; 
    margin-top: 2%;
}
.nombres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
}
.nombres li{
    color: white;
}
.menuFooter{
    margin: 2%;
}
.buscadorFooter{
    margin: 2%;
}
@media(max-width:420px){
   
    .fila4{
      width: 100%;
    }
   .biografia{
       display: flex;
       flex-wrap: wrap;
       height: 500vh;
       display: flex; 
   }
   .bio1{
      display: flex;
      justify-content: space-between;
       width: 100%;
       height: 20%; 
   }
   .datos{
       padding-top: 2%;
   }
   .bio2{
       width: 100%;
   }
   .segundafila{
       width: 100%;
       height: 10%;
   }
   .topcinco{
       margin: 15%;
       width: 100%;
   }
   
   .imagencancion{
       width: 100%;
       height: 100%;
   }
   
} 

    