*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background-color: black;
    text-align: center;
    background-image: url(../img/fondo\ negro.jfif);
}
.header{
    background-color: black;
    text-align: center;
    width: 100%; 
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(212, 212, 212);
    height: 25px;
    margin: 10px; 
}
.ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.ul li a{
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}
.ul li a:hover{
    text-decoration: underline;
    color: rgb(245, 245, 60);
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 15%;
    
}
.detailcanci贸n{
 width: 90%;
}

.fotoalbum{
  width: 90%; 
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.class h1{
    color:white;
    font-size: 30px;
    font-family: 'Bebas Neue';
}
.ul2 li a:hover{
    text-decoration: white;
    text-decoration: none;
    font-family: lato;
}
.playlist{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1%;
}
.playlist li a{
    text-decoration: none;
    background-color:rgb(116, 192, 243);
    color:rgb(252, 232, 232);
    padding: 10px;
    margin: 10px;
}
.playlist li a:hover{
    text-decoration: underline;
    background-color: rgb(255, 187, 0);
    color: darkblue;
}
.article5{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    width: 40%;   
}
.h3{
    color: white;
}

@media(min-width: 728px){
    .header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .logo{
        width: 15%;
    }
    .nav{
        width: 50%;
    }
    .section1{
        width: 35%;
    }
    .eleccion{
        width: 45%;
        margin: 2%;
    }
    .secciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .secciones h2{
        width: 100%;
    }

}
@media(min-width: 1024px){
    .main2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .playlist{
        flex-direction: row;
    }
    .playlist li a{
        padding: 20px 70px;
    }
    .detailcancion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: center;
        width: 35%;
    }
    .fotoalbum{
        width: 50%;
    }
    .detallecanci贸n{
        width: 50%;
    }
    .detallecanci贸n h1{
        font-size: 118px;
    }
    .detallecanci贸n h3{
        font-size: 30px;
    }
}
