*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    background-color: black;
    text-align: center;
    background-image: url(../img/fondo\ negro.jfif);
}
.header{
    background-color: black;
    text-align: center;
    width: 100%; 
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(212, 212, 212);
    height: 25px;
    margin: 10px; 
}
.class{
    color: white;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.detailcanción{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
}

.fotoalbum{
  width: 50%; 
}
.class h1{
    color:white;
    font-size: 70px;
    font-family: 'Bebas Neue';
}
.ul2 li a:hover{
    font-size: 30px;
    text-decoration: white;
    text-decoration: none;
    font-family: lato;  
}

.section5{
    margin: 10%;
    border-radius: 3px;
    width: 100%;  
      
}
.article5{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
    width: 30%; 
    margin: 1%;   
}



@media(min-width: 420px){
    
    .logo{
        width: 15%;
    }
    .container{
        width: 85%;
    }
    .encabezado{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav{
        width: 40%;
    }
    
    .opciones{
        width: 45%;
        margin: 2%;
    }
    .section5{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section5 h2{
        width: 50%;
    }
    .article5{
        width: 30%;
        margin: 1%;
        justify-content: space-around;
    }

}
@media(min-width: 1024px){
    .logo{
        width: 15%;
    }
    .container{
        width: 85%;
    }
    .me
    .opciones{
        width: 45%;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        
    }
    .main2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .detailcancion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: center;
        width: 35%;
    }
    .fotoalbum{
        width: 50%;
    }
    .detallecancion{
        width: 50%;
    }
    .detallecanción h1{
        font-size: 118px;
    }
    .detallecanción h3{
        width: 100%;
        font-size: 30px;
    }
}
