*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    background-color: black;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}
p{
    color: white;
}
.encabezado{
    background-color: black;
    text-align: center;
    width: 100%;
}
.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.opciones li a{
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}
.opciones li a:hover{
    text-decoration: underline;
    color: rgb(245, 245, 60);
}
.buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(212, 212, 212);
    height: 25px;
    margin: 10px;
}
.secciones{
    text-align: center; 
}
.eleccion{
    text-align: center;
    margin: 10%;
}
.eleccion img{
    height: 77%;
}
.info{
    width: 100%;
    list-style: none;
}
.info li h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.info li p{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.eleccion :hover{
    background-color: rgb(212, 212, 212);
}
.footer{
    background-color: black;
    text-align: center;
    width: 100%; 
}
.nombres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nombres li{
    color: white;
}

@media(min-width: 728px){
    .encabezado{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .logo{
        width: 15%;
    }
    .buscador{
        width: 50%;
    }
    .menu{
        width: 35%;
    }
    .eleccion{
        width: 45%;
        margin: 2%;
    }
    .secciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .secciones h2{
        width: 100%;
    }
    .info li h2{
        width: 100%;
    }
}
@media(min-width: 1024px){
    .eleccion{
        width: 18%;
        margin: 1%;
    }
}