*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    background-color: rgb(236, 235, 235) ;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
}
.encabezado{
    background-color: rgb(250 147 112);
    text-align: center;
    width: 100%;
}
.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.opciones li a{
    color: white;
    font-family: 'Lato', sans-serif;
}
.opciones li a:hover{
    text-decoration: underline;
    color: darkblue;
}
.secciones{
    text-align: center; 
}
.eleccion{
    text-align: center;
    margin: 10%;
}
}
.info{
    width: 100%;
    list-style: none;
}
.info li h2{
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.info li p{
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.eleccion :hover{
    background-color: rgb(250, 164, 154);
}
.footer{
    background-color: rgb(250 147 112);
    text-align: center;
    width: 100%; 
}
.nombres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}