*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    background-color: rgb(63, 63, 63);
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
h2{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}
p{
    color: white;
}

/*------ Header ------*/
.encabezado{
    background-color: black;
    text-align: center;
    width: 100%;
}
.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.opciones li a{
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}
.opciones li a:hover{
    text-decoration: underline;
    color: rgb(245, 245, 60);
}
/*-------------*/

/*----- Body -----*/
.secciones{
    text-align: center; 
}
.nombreSeccion{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(46, 46, 46);
}
.eleccion{
    text-align: center;
    margin: 10%;
}
.info{
    width: 100%;
    list-style: none;
}
.info li h2{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.info li p{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.eleccion:hover{
    background-color: rgb(145, 145, 145);
}
.recomendaciones{
    background-color: rgb(121, 83, 83);
}
.recom{
    display: flex;
    align-items: center;
}

/*-----------*/

/*------ Footer -------*/
.footer{
    background-color: black;
    text-align: center;
    width: 100%; 
    margin-top: 2%;
}
.nombres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
}
.nombres li{
    color: white;
}
.menuFooter{
    margin: 2%;
}
.buscadorFooter{
    margin: 2%;
}
/*-----------*/



@media(min-width: 1024px){
    .encabezado{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 15%;
    }
    .menu{
        width: 40%;
    }
    .buscador{
        width: 42%;
        margin: 2%;
    }
    .formulario{
        width: 100%;
    }
    .buscador input{
        width: 100%;
    }
    .eleccion{
        width: 18%;
        margin: 1%;
    }
    .secciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2%;
    }
    .secciones h2{
        width: 100%;
    }
    .menuFooter{
        width: 100%;
    }
    .buscadorFooter{
        width: 95%;
        margin: 2%;
    }
    .buscadorFooter input{
        width: 100%;
    }
    .logoFooter{
        width: 30%;
    }
    .recomendaciones{
        display: flex;
    }
}
