.playlist{
    text-align: center;
}
.playlist h1{
    font-size: 30px;
    color: white;
}
.elegido li{
    color: white;
}
.elegido li a{
    color: white;
}
.play{
    color: white;
    background-color: rgb(5, 235, 5);
    padding: 5px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}
.favorito{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.favorito img{
    width: 10%;
}
.elegido{
    width: 86%;
    text-align: justify;
    margin: 2%;

}

@media(min-width: 768px){
    .playlist h1{
        font-size: 50px;
        margin: 2%;
    }

}
