.playlist{
    text-align: center;
}
h1{
    color: white;
    font-size: 45px;
    text-align: center;
}
.elegido li{
    color: white;
}
.elegido li a{
    color: white;
}
.play{
    color: white;
    background-color: rgb(5, 235, 5);
    padding: 5px;
    border-radius: 7px;
    margin: 2% 10%;
    display: flex;
    justify-content: center;
}
.favorito{
    margin: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.favorito img{
    width: 20%;
}
.elegido{
    width: 76%;
    text-align: justify;
    margin: 2%;
}
.sugCancion{
    width: 56%;
    margin: 2%;
}
.sug h5{
    color: white;
    background-color: rgb(5, 235, 5);
    padding: 5px;
    border-radius: 7px;
}
.sugCancion li{
    color: white;
}
.sugCancion li a{
    color: white;
}
.sugerencia{
    background-color: rgb(122, 78, 78);
    margin: 1%;
    border-radius: 2px;
}
.sug{
    margin: 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sug img{
    width: 20%;
}
.sugerencia1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width: 1024px){
    h1{
        font-size: 80px;
        margin: 1%;
    }
    .play{
       width: 30%;
       display: flex;
       justify-content: center;
    }
    .playlist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .favorito{
        width: 40%;
    }
    .sug{
        justify-content: center;
    }
    .elegido{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 76%;
    }
    .favorito img{
        width: 20%;
    }
    .sugerencia{
        width: 46%;
        margin: 2%;
    }
    .nuevasCanciones{
        display: flex;
    }
    .sug{
        margin: 1%;
        width: 70%;
    }
}
